*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 width: 100%;
 font-family: Arial, sans-serif;
}

main{
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.Logout-container{
 padding: 5rem;
}

.Logout-container h1{
 font-size: 3rem;
 color: #000;
}

.Logout-container p{
 font-size: 2rem;
 color: #fff;
 margin-top: 1rem;
}

.Logout-container a{
 color: #000;
 text-decoration: none;
 font-size: 2rem;
 margin-top: 1rem;
 text-decoration: none;
}

.Logout-container a:hover{
 color: navy;
 text-decoration: underline;
}